body{
    min-height: 100vh;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center; 
}

.title{
    font-size: 30px;
}

.container{
    border: black solid 2px;
    display: flex;
    flex-direction: column;
}

.display{
    background-color: grey;
    display: flex;
    height: 100px;
}

.display_part{
    background-color: grey;
}

.buttonContainerWhole{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    width: 300px;
}

.buttonContainer{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}

.buttonContainerColumn{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.operatorButton{
    background-color: orange;
    border: black solid 2px;
    text-align: center;
    flex-grow: 1;
    /* height: 50px;
    width: 50px; */
}

.numberButton{
    background-color: orange;
    border: black solid 2px;
    text-align: center;
    flex-grow: 1;
    /* height: 50px;
    width: 50px; */
}